.main{
    background-color:cadetblue;
}
.container{
    display: flex;
    align-items: space-between;
    justify-content: space-between;
}
h1{
    margin-top: 10px;
    font-size: 50px;
    font-weight: 700;
    color: black;
}
head{
    font-weight: 600;
}
.main button{
    margin: 15px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 30px;
    font-weight: 600;
    background-color: rgb(245, 62, 7);
    border: 1px solid black;
    color: black;
    border-radius: 5px;
}
.table table tr th{
    padding-right: 150px;
    align-items: center;
}   
/* .table{
    margin-top: 20px;
    font-size: 30px;
} */
.table button{
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.edit-btn{
    background-color:rgb(0, 87, 128);
    color:antiquewhite;
    border-radius: 10px;
    border: none;
}
.Delete-btn{
    background-color:grey;
    color: white;
    padding: 2px 3px 2px 3px;
    border-radius: 10px;
    border: none;
}
.modal-footer button{
    background-color: cadetblue;
    color: black;
    font-size: 20PX;
    font-weight: 400;
    border: none;
}
/* pagination */
.paginate{
    margin-top: 100px;
    text-align: center;
}
/* //searching input */
.search{
    width: 900px;
    margin-left: 20px;
}